https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.3/torch-2.5.1%2Brocm6.4.3.git618a5512-cp313-cp313-linux_x86_64.sh
https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.3/torchvision-0.20.1%2Brocm6.4.3.git04d8fc4a-cp313-cp313-linux_x86_64.whl
https://repo.radeon.com/rocm/manylinux/rocm-rel-6.4.3/pytorch_triton_rocm-3.1.0%2Brocm6.4.3.git0deb5489-cp313-cp313-linux_x86_64.whl